{% extends 'mywebapp/base.html' %}
{% block body_block %}
<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .body-about-section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);

    color: white;
  }
  .about-section{
    background: url(https://store-images.s-microsoft.com/image/apps.42623.14030800370618913.6383968f-bfa5-4d04-8f87-c8f0ea8b40f5.4c0cb91e-6821-4c2a-964c-987763cf22ae?mode=scale&q=90&h=1080&w=1920) no-repeat left;
    background-size: 55%;
    
   
    overflow: hidden;
    color: #fff;
    padding: 100px 0;
  }
  .inner-container{
    width: 55%;
    float: right;
    background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    padding: 150px;
  }
  .inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  }
  .text{
    font-size: 18px;
    color: white;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
}
  @media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
        font-size: 14px;
    }
    .inner-container{
        padding: 60px;
        font-size: 14px;
    }
}
@media screen and (max-width:500px){
    .about-section{
        padding: 0;
        font-size: 14px;
    }
    .inner-container{
        padding: 60px;
        font-size: 14px;
    }
}
</style>
   <div class="body-about-section">
    <div class="about-section">
      <div class="inner-container">
          <h1>About Me</h1>
          <p class="text">
            Hi, I'm Sumith, a software passionate developer. I can code in a variety of languages such as c, c++, python, and dart. My interests include data science, web development, machine learning, artificial intelligence, and app development.
          </p>
          <div class="skills">
              <span>Web development</span>
              <span>Data science</span>
              <span>App development</span>
              
          </div>
      </div>
  </div>
</div>
{% endblock %}