{% extends 'mywebapp/base.html' %}

{% block body_block %}

<div class= 'main-body'> 
  <div class="container" id="container">  
    <div class='card'>
      <div class='box'>
        <div class='content'>
          <img src="{{ certificates_detail.images }}"
          alt="project">
          <h3>{{certificates_detail.title}}</h3>
          
          
        </div>
      </div>      
    </div>    
    </div> 
</div>
<div class='btnclass' >
    <a style="display: flex;
    justify-content: space-around;
    align-items: center; 
    background-color: #ffad00;color: #ffffff; 
    margin-bottom: 5px; border-radius: 15px;margin-left: 10px;margin-right: 10px;
    font-size: 25px; font-weight: 500;height: 100px;" 
     href="{% url 'certificates_edit' pk=certificates_detail.pk %}"><p>Update</p></a> 
    
    <a style="display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e60000;color: #ffffff; 
    margin-bottom: 10px;border-radius: 15px;margin-left: 10px;margin-right: 10px;
    font-size: 25px; font-weight: 500;height: 100px;"
     href="{% url 'certificates_remove' pk=certificates_detail.pk %}"><p>remove</p></a>     
</div>  

{% endblock %}